@import '../../styles/colors.module';

.groups {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// table
.groups__table {
  margin-top: 30px;
  max-width: 1200px;
  background: $general-background;
  color: $general-font;
  &__header {
    th {
      color: $general-font;
      font-weight: bold;
      font-size: 16px;
      border: none;
      span {
        color: $general-font !important;
        cursor: pointer;
      }
      svg {
        color: $general-font !important;
      }
    }
  }
  &__body {
    &__item {
      width: 300px;
      min-width: 100px;
    }
    td {
      color: $general-font;
      border: none;
    }
  }
  &__item {
    &__status {
      &__style {
        text-align: center;
        width: 90px;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
      }
      &__success {
        color: $success-font;
        background: $success-background;
      }
      &__warning {
        color: $warning-font;
        background: $warning-background;
      }
      &__failed {
        color: $failed-font;
        background: $failed-background;
      }
    }
  }
}

// navbar
.groups__navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  &__item {
    margin: 0 20px;
    cursor: pointer;
  }
}
