.table {
  margin-top: 30px;
  max-width: 1200px;
  &__header {
    background: #0c0900;
    th {
      color: #e1c676;
    }
  }
  &__body {
    td {
      color: #e1c676;
    }
  }
  &__task {
    &__status {
      &__style {
        text-align: center;
        width: 120px;
        padding: 5px 0;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }
      &__created {
        color: green;
        background: #c9efc9;
      }
      &__creating {
        color: #ad7100;
        background: #ffe7c3;
      }
      &__failed {
        color: red;
        background: #ffafaf;
      }
    }
  }
}